<div>
  <div>
    <h1>
      List of All Nominees
    </h1>
  </div>
</div>




<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Nominee
        </th>

        <th>
          Category
        </th>

        <th>
          Ceremony Year
        </th>

        <th>
          Winner?
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_nominees.each do |a_nominee| %>
      <tr>
        <td>
          <%= a_nominee.nom_name %>
        </td>

        <td>
          <%= a_nominee.category %>
        </td>

        <td>
          <%= a_nominee.ceremony_year %>
        </td>

        <td>
          <% if a_nominee.winner %>
          <%= "WINNER" %>
          <% end %>
        </td>

        <td>
          <a href="/nominees/<%= a_nominee.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
