<div>
  <div>
    <h1>
      List of all nominees
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new nominee
    </h2>

    <form action="/insert_nominee" method="post">
      <div>
        <label for="nom_name_box">
          Nom name
        </label>

        <input type="text" id="nom_name_box" name="query_nom_name">
      </div>

      <div>
        <label for="ceremony_year_box">
          Ceremony year
        </label>

        <input type="datetime-local" id="ceremony_year_box" name="query_ceremony_year">
      </div>

      <div>
        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="query_category">
      </div>

      <div>
        <input type="checkbox" id="winner_box" name="query_winner" value="1">

        <label for="winner_box">Winner</label>
      </div>

      <div>
        <label for="ballots_count_box">
          Ballots count
        </label>

        <input type="text" id="ballots_count_box" name="query_ballots_count">
      </div>

      <button>
        Create nominee
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Nom name
        </th>

        <th>
          Ceremony year
        </th>

        <th>
          Category
        </th>

        <th>
          Winner
        </th>

        <th>
          Ballots count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_nominees.each do |a_nominee| %>
      <tr>
        <td>
          <%= a_nominee.id %>
        </td>

        <td>
          <%= a_nominee.nom_name %>
        </td>

        <td>
          <%= a_nominee.ceremony_year %>
        </td>

        <td>
          <%= a_nominee.category %>
        </td>

        <td>
          <%= a_nominee.winner %>
        </td>

        <td>
          <%= a_nominee.ballots_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_nominee.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_nominee.updated_at) %> ago
        </td>

        <td>
          <a href="/nominees/<%= a_nominee.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
