<div>
  <div>
    <h1>
      Your Ballots
    </h1>
  </div>
</div>


<hr>

<% if session[:user_id] %>

<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Ceremony Year
        </th>

        <th>
          User
        </th>

        <th>
          Best Actor
        </th>

        <th>
          Best Actress
        </th>

        <th>
          Best Supporting Actor
        </th>

        <th>
          Best Supporting Actress
        </th>

        <th>
          Best Director
        </th>

        <th>
          Best Original Screenplay
        </th>

        <th>
          Best Adapted Screenplay
        </th>

        <th>
          Best Picture
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_ballots.each do |a_ballot| %>
      <tr>
        <td>
          <%= a_ballot.id %>
        </td>

        <td>
          <%= a_ballot.ceremony_year %>
        </td>

        <td>
          <%= a_ballot.user_id %>
        </td>

        <td>
          <%= a_ballot.actor_id %>
        </td>

        <td>
          <%= a_ballot.actress_id %>
        </td>

        <td>
          <%= a_ballot.s_actor_id %>
        </td>

        <td>
          <%= a_ballot.s_actress_id %>
        </td>

        <td>
          <%= a_ballot.director_id %>
        </td>

        <td>
          <%= a_ballot.o_screenplay_id %>
        </td>

        <td>
          <%= a_ballot.a_screenplay_id %>
        </td>

        <td>
          <%= a_ballot.picture_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_ballot.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_ballot.updated_at) %> ago
        </td>

        <td>
          <a href="/ballots/<%= a_ballot.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<% else %>

<h2> Sign in to fill up a ballot.</h2>

<% end %>

<hr>
