<div>
  <div>
    <h1>
      Ballot #<%= @the_ballot.id %> details
    </h1>

    <div>
      <div>
        <a href="/ballots">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_ballot/<%= @the_ballot.id %>">
          Delete ballot
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Ceremony year
      </dt>
      <dd>
        <%= @the_ballot.ceremony_year %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_ballot.user_id %>
      </dd>

      <dt>
        Actor
      </dt>
      <dd>
        <%= @the_ballot.actor_id %>
      </dd>

      <dt>
        Actress
      </dt>
      <dd>
        <%= @the_ballot.actress_id %>
      </dd>

      <dt>
        S actor
      </dt>
      <dd>
        <%= @the_ballot.s_actor_id %>
      </dd>

      <dt>
        S actress
      </dt>
      <dd>
        <%= @the_ballot.s_actress_id %>
      </dd>

      <dt>
        Director
      </dt>
      <dd>
        <%= @the_ballot.director_id %>
      </dd>

      <dt>
        O screenplay
      </dt>
      <dd>
        <%= @the_ballot.o_screenplay_id %>
      </dd>

      <dt>
        A screenplay
      </dt>
      <dd>
        <%= @the_ballot.a_screenplay_id %>
      </dd>

      <dt>
        Picture
      </dt>
      <dd>
        <%= @the_ballot.picture_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_ballot.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_ballot.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit ballot
    </h2>

    <form action="/modify_ballot/<%= @the_ballot.id %>"  method="post" >
      <div>
        <label for="ceremony_year_box">
          Ceremony year
        </label>

        <input type="datetime-local" id="ceremony_year_box" name="query_ceremony_year"
         value="<%= @the_ballot.ceremony_year %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_ballot.user_id %>">
      </div>

      <div>
        <label for="actor_id_box">
          Actor
        </label>

        <input type="text" id="actor_id_box" name="query_actor_id" value="<%= @the_ballot.actor_id %>">
      </div>

      <div>
        <label for="actress_id_box">
          Actress
        </label>

        <input type="text" id="actress_id_box" name="query_actress_id" value="<%= @the_ballot.actress_id %>">
      </div>

      <div>
        <label for="s_actor_id_box">
          S actor
        </label>

        <input type="text" id="s_actor_id_box" name="query_s_actor_id" value="<%= @the_ballot.s_actor_id %>">
      </div>

      <div>
        <label for="s_actress_id_box">
          S actress
        </label>

        <input type="text" id="s_actress_id_box" name="query_s_actress_id" value="<%= @the_ballot.s_actress_id %>">
      </div>

      <div>
        <label for="director_id_box">
          Director
        </label>

        <input type="text" id="director_id_box" name="query_director_id" value="<%= @the_ballot.director_id %>">
      </div>

      <div>
        <label for="o_screenplay_id_box">
          O screenplay
        </label>

        <input type="text" id="o_screenplay_id_box" name="query_o_screenplay_id" value="<%= @the_ballot.o_screenplay_id %>">
      </div>

      <div>
        <label for="a_screenplay_id_box">
          A screenplay
        </label>

        <input type="text" id="a_screenplay_id_box" name="query_a_screenplay_id" value="<%= @the_ballot.a_screenplay_id %>">
      </div>

      <div>
        <label for="picture_id_box">
          Picture
        </label>

        <input type="text" id="picture_id_box" name="query_picture_id" value="<%= @the_ballot.picture_id %>">
      </div>

      <button>
        Update ballot
      </button>
    </form>
  </div>
</div>

<hr>
