<div>
  <div>
    <h1>
      Ballot #<%= @the_ballot.id %> details
    </h1>

    <div>
      <div>
        <a href="/ballots">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_ballot/<%= @the_ballot.id %>">
          Delete ballot
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Ceremony year
      </dt>
      <dd>
        <%= @the_ballot.ceremony_year %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_ballot.user_id %>
      </dd>

      <dt>
        Actor
      </dt>
      <dd>
        <%= @the_ballot.actor_id %>
      </dd>

      <dt>
        Actress
      </dt>
      <dd>
        <%= @the_ballot.actress_id %>
      </dd>

      <dt>
        S actor
      </dt>
      <dd>
        <%= @the_ballot.s_actor_id %>
      </dd>

      <dt>
        S actress
      </dt>
      <dd>
        <%= @the_ballot.s_actress_id %>
      </dd>

      <dt>
        Director
      </dt>
      <dd>
        <%= @the_ballot.director_id %>
      </dd>

      <dt>
        O screenplay
      </dt>
      <dd>
        <%= @the_ballot.o_screenplay_id %>
      </dd>

      <dt>
        A screenplay
      </dt>
      <dd>
        <%= @the_ballot.a_screenplay_id %>
      </dd>

      <dt>
        Picture
      </dt>
      <dd>
        <%= @the_ballot.picture_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_ballot.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_ballot.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>