<div>
  <div>
    <h1>
      Ballot #<%= @the_ballot.id %> details
    </h1>

    <div>
      <div>
        <a href="/ballots">
          Go back
        </a>
      </div>

      <% if @the_ballot.user_id == session[:user_id] %>
      <div>
        <a href="/delete_ballot/<%= @the_ballot.id %>">
          Delete ballot
        </a>
      </div>
      <% end %>
    </div>

      <table>
        <tr>
          <td>
            <label for="ceremony_year_box">
              <b>Ceremony Year</b>
            </label>
          </td>
          <td>
            <%= @the_ballot.ceremony_year %>
          </td>
        </tr>  

        <tr>
          <td>
            <label for="user_id_box">
              <b>User</b>
            </label>
          </td>
          <td>
            <%= @the_ballot.username %>
          </td>
        </tr>  

        <tr>
          <td>
              <b>Best Actor</b>
          </td>
          <td>
              <%= @the_ballot.best_actor %>
          </td>
        </tr> 

        <tr>
          <td>
              <b>Best Actress</b>
          </td>
          <td>
              <%= @the_ballot.best_actress %>
          </td>
        </tr> 

        <tr>
          <td>
              <b>Best Supporting Actor</b>
          </td>
          <td>
              <%= @the_ballot.best_s_actor %>
          </td>
        </tr> 

        <tr>
          <td>
              <b>Best Supporting Actress</b>
          </td>
          <td>
              <%= @the_ballot.best_s_actress %>
          </td>
        </tr> 

        <tr>
          <td>
              <b>Best Director</b>
          </td>
          <td>
              <%= @the_ballot.best_director %>
          </td>
        </tr>       

        <tr>
          <td>
              <b>Best Original Screenplay</b>
          </td>
          <td>
              <%= @the_ballot.best_o_screenplay %>
          </td>
        </tr>         

        <tr>
          <td>
              <b>Best Adapted Screenplay</b>
          </td>
          <td>
              <%= @the_ballot.best_a_screenplay %>
          </td>
        </tr>   

        <tr>
          <td>
            <b>Best Picture</b>
          </td>
          <td>
            <%= @the_ballot.best_picture %>                          
          </td>
        </tr>

        <tr>
          <td>
            <b>Created at</b>
          </td>
          <td>
            <%= time_ago_in_words(@the_ballot.created_at) %> ago
          </td>
        </tr>        

        <tr>
          <td>
            <b>Updated at</b>
          </td>
          <td>
            <%= time_ago_in_words(@the_ballot.updated_at) %> ago
          </td>
        </tr>
      </table>

  </div>
</div>

<hr>